# Temperature Analysis I

In [18]:
import pandas as pd
from datetime import datetime as dt

In [19]:
# "tobs" is "temperature observations"
df = pd.read_csv('Resources/hawaii_measurements.csv')
df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [20]:
# Convert the date column format from string to datetime
df['date'] = pd.to_datetime(df['date'])

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19550 entries, 0 to 19549
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   station  19550 non-null  object
 1   date     19550 non-null  datetime64[ns]
 2   prcp     18103 non-null  float64
 3   tobs     19550 non-null  int64
dtypes: datetime64[ns](1), float64(1), int64(1), object(1)
memory usage: 611.1+ KB

In [21]:
# Set the date column as the DataFrame index
df.set_index(df['date'], inplace=True)

In [27]:
# Drop the date column
df = df.drop(columns='date')

KeyError: "['date'] not found in axis"

### Compare June and December data across all years

In [23]:
from scipy import stats

In [24]:
# Filter data for desired months
june_df = df[df.index.month == 6]

dec_df = df[df.index.month == 12]

In [13]:
# Identify the average temperature for June
june_avg_temp = june_df.mean()
print(f"The average temperature for June across all the data is {june_avg_temp}°F")

The average temperature for June across all the data is 74.94411764705882°F

In [15]:
# Identify the average temperature for December
dec_avg_temp = dec_df['tobs'].mean()
print(f"The average temperature for December across all the data is {dec_avg_temp}°F")

The average temperature for December across all the data is 71.04152933421226°F

In [13]:
# Create collections of temperature data
june_temps = june_df['tobs']

dec_temps = dec_df['tobs']

In [30]:
# Run unpaired t-test
stats.ttest_ind(june_temps, dec_temps)

Ttest_indResult(statistic=31.60372399000329, pvalue=3.9025129038616655e-191)

### Analysis